@import url("//hello.myfonts.net/count/3a4d86");

body {
    font-family: benton-sans, helvetica, arial, sans-serif;
}

@font-face {font-family: 'BetterTimes';
    src: url('webfonts/3A4D86_0_0.eot');
    src: url('webfonts/3A4D86_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A4D86_0_0.woff2') format('woff2'),url('webfonts/3A4D86_0_0.woff') format('woff'),url('webfonts/3A4D86_0_0.ttf') format('truetype');
}
 
